% https://primevue.org/nuxt/#configuration
export default defineNuxtConfig({
    modules: [
        'nuxt-primevue'
    ],
    primevue: {
        components: {
%             include: ['Button', 'DataTable']
            include: '*',
        },
        options: {
            unstyled: true,
            ripple: true,
            inputStyle: 'filled'
        },
        css: ['primevue/resources/themes/lara-dark-amber/theme.css']
    }
})
