/*Primary and Surface Palettes*/
:root {
    font-family: Inter var, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --surface-a: #1f2937;
    --surface-b: #111827;
    --surface-c: hsla(0, 0%, 100%, .03);
    --surface-d: #424b57;
    --surface-e: #1f2937;
    --surface-f: #1f2937;
    --text-color: hsla(0, 0%, 100%, .87);
    --text-color-secondary: hsla(0, 0%, 100%, .6);
    --primary-color: #fbbf24;
    --primary-color-text: #030712;
    --surface-0: #111827;
    --surface-50: #1f2937;
    --surface-100: #374151;
    --surface-200: #4b5563;
    --surface-300: #6b7280;
    --surface-400: #9ca3af;
    --surface-500: #d1d5db;
    --surface-600: #e5e7eb;
    --surface-700: #f3f4f6;
    --surface-800: #f9fafb;
    --surface-900: #ffffff;
    --surface-950: #ffffff;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --content-padding: 1.25rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: #111827;
    --surface-section: #111827;
    --surface-card: #1f2937;
    --surface-overlay: #1f2937;
    --surface-border: hsla(0, 0%, 100%, .1);
    --surface-hover: hsla(0, 0%, 100%, .03);
    --focus-ring: 0 0 0 0.2rem rgba(251, 191, 36, .2);
    --maskbg: rgba(0, 0, 0, .4);
    --highlight-bg: rgba(251, 191, 36, .16);
    --highlight-text-color: hsla(0, 0%, 100%, .87);
    color-scheme: dark;

    --p-primary-50: var(--surface-50);
    --p-primary-100: var(--surface-100);
    --p-primary-200: var(--surface-200);
    --p-primary-300: var(--surface-300);
    --p-primary-400: var(--surface-400);
    --p-primary-500: var(--surface-500);
    --p-primary-600: var(--surface-600);
    --p-primary-700: var(--surface-700);
    --p-primary-800: var(--surface-800);
    --p-primary-900: var(--surface-900);
    --p-surface-0: var(--surface-0);
    --p-surface-50: var(--surface-50);
    --p-surface-100: var(--surface-100);
    --p-surface-200: var(--surface-200);
    --p-surface-300: var(--surface-300);
    --p-surface-400: var(--surface-400);
    --p-surface-500: var(--surface-500);
    --p-surface-600: var(--surface-600);
    --p-surface-700: var(--surface-700);
    --p-surface-800: var(--surface-800);
    --p-surface-900: var(--surface-900);
    --p-surface-950: var(--surface-900);
    --p-surface-a: #1f2937;
    --p-surface-b: #111827;
    --p-surface-c: hsla(0, 0%, 100%, .03);
    --p-surface-d: #424b57;
    --p-surface-e: #1f2937;
    --p-surface-f: #1f2937;
}

/* Light Mode */
/*TODO*/
/*:root {*/
/*    --p-primary-color: var(--p-primary-500);*/
/*    --p-primary-contrast-color: var(--p-surface-0);*/
/*    --p-primary-hover-color: var(--p-primary-600);*/
/*    --p-primary-active-color: var(--p-primary-700);*/
/*    --p-content-border-color: var(--p-surface-200);*/
/*    --p-content-hover-background: var(--p-surface-100);*/
/*    --p-content-hover-color: var(--p-surface-800);*/
/*    --p-highlight-background: var(--p-primary-50);*/
/*    --p-highlight-color: var(--p-primary-700);*/
/*    --p-highlight-focus-background: var(--p-primary-100);*/
/*    --p-highlight-focus-color: var(--p-primary-800);*/
/*    --p-text-color: var(--p-surface-700);*/
/*    --p-text-hover-color: var(--p-surface-800);*/
/*    --p-text-muted-color: var(--p-surface-500);*/
/*    --p-text-hover-muted-color: var(--p-surface-600);*/
/*}*/

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-500);
        --p-primary-contrast-color: var(--p-surface-0);
        --p-primary-hover-color: var(--p-primary-600);
        --p-primary-active-color: var(--p-primary-700);
        --p-content-border-color: var(--p-surface-200);
        --p-content-hover-background: var(--p-surface-100);
        --p-content-hover-color: var(--p-surface-800);
        --p-highlight-background: var(--p-primary-50);
        --p-highlight-color: var(--p-primary-700);
        --p-highlight-focus-background: var(--p-primary-100);
        --p-highlight-focus-color: var(--p-primary-800);
        --p-text-color: var(--p-surface-700);
        --p-text-hover-color: var(--p-surface-800);
        --p-text-muted-color: var(--p-surface-500);
        --p-text-hover-muted-color: var(--p-surface-600);
    }
}

/*h1 {*/
/*    display: block;*/
/*    font-size: 2em;*/
/*    margin-block-start: 0.67em;*/
/*    margin-block-end: 0.67em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    font-weight: bold;*/
/*    unicode-bidi: isolate;*/
/*}*/

/*h2 {*/
/*    display: block;*/
/*    font-size: 1.5em;*/
/*    margin-block-start: 0.83em;*/
/*    margin-block-end: 0.83em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    font-weight: bold;*/
/*    unicode-bidi: isolate;*/
/*}*/
