.analysis-logs {
    display: flex;
    /*justify-content: space-between;*/
}

.analysis-data-card {
    width: 30em;
    margin-right: 1em;
    border: 1px solid lightgray
}

.analysis-log-card {
    width: 70em;
    border: 1px solid lightgray;
}

.log-scroll-panel {
    width: 100%;
    height: 25em;
    background: #000000;
    padding: 1em;
    font-family: Roboto Mono Regular, monospace;
    font-size: 1em;
}

/*.analysisLogs .p-card-content {*/
/*    padding-left: 0;*/
/*}*/

.log-toggle-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
}
