.table-header-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    width: 50%;
    justify-content: left;
}

.search-text-bar {
    margin-right: 10px;
}

.analysisButtons {
    display: flex;
    justify-content: flex-start;
    column-gap: 0.3em;
}
