.table-header-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 2em;
}

.search-bar {
    display: flex;
    width: 50%;
    justify-content: left;
}

.refresh-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.help-text {
    cursor: help;
}
