.table-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
}

.search-bar {
    display: flex;
    width: 50%;
    gap: 0.5rem;
}

.refresh-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.help-text {
    cursor: help;
}

.rounded-table {
    border-radius: 0.75rem;
    overflow: hidden;
}

.structured-table {
    th:not(:first-child) {
        text-align: center;

        .p-datatable-column-header-content {
            justify-content: center;

            .p-datatable-popover-filter {
                margin-inline-start: 0.2rem;
            }

            .p-button-icon-only {
                width: 1.5rem;
            }
        }
    }

    td:not(:first-child) {
        text-align: center;
        justify-items: center;
    }
}
